name: Release

on:
    push:
        branches:
            - main
        paths:
            - apps/client/package.json
            - apps/react/package.json

permissions:
    id-token: write
    contents: write

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org
                  cache: pnpm

            - run: pnpm install --frozen-lockfile

            - run: pnpm turbo run build --filter @page-use/client --filter @page-use/react

            - run: pnpm changeset publish
              env:
                  NPM_CONFIG_PROVENANCE: true

            - name: Push Tags
              run: git push --follow-tags
