name: Version Packages

on:
    push:
        branches:
            - main
        paths:
            - ".changeset/**/*.md"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: write
    pull-requests: write

jobs:
    version:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: pnpm

            - run: pnpm install --frozen-lockfile

            - name: Create Version PR
              uses: changesets/action@v1
              with:
                  version: pnpm changeset version
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
